@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


:root {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}
.primary {
  color: #91a3b1;
}

.primary:hover {
  color: #3490dc;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url('../assests/Images/1080.gif');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center center;
  height: 100vh; 
}

.loop{
  background-image: url('../assests/Images/loop.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.customtext{
  background: rgb(10,10,11);
background: linear-gradient(62deg, rgba(10,10,11,1) 19%, rgba(254,254,255,1) 37%, rgba(0,0,0,1) 64%, rgba(255,255,255,1) 100%);
} 

@font-face {
  font-family: 'Intermedium';
  src: url('../assests/Fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'InterLight';
  src: url('../assests/Fonts/Inter-Light.ttf');
}
