@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
 
}
.primary {
  color: #91a3b1;
}

.primary:hover {
  color: #3490dc;
}