@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

:root {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}
.primary {
  color: #91a3b1;
}

.primary:hover {
  color: #3490dc;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url('../assests/Images/newbggif.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right , left center;
  height: 100vh; 
}

.loop{
  background-image: url('../assests/Images/loop.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.photo{
  background-image: url("../assests/Images/sui.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-Position: center ,center;
}

.customtext{
  background: rgb(10,10,11);
background: linear-gradient(62deg, rgba(10,10,11,1) 19%, rgba(254,254,255,1) 37%, rgba(0,0,0,1) 64%, rgba(255,255,255,1) 100%);
} 

@font-face {
  font-family: 'Intermedium';
  src: url('../assests/Fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'InterLight';
  src: url('../assests/Fonts/Inter-Light.ttf');
}

.my-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
  color: #ffffff;
}

.my-text1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.primary1 {
  color: #3490dc;
}

@keyframes floating {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 5px); }
  100% { transform: translate(0, -0px); }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.textcolor{
  background: #00EAFF;
background: radial-gradient(ellipse farthest-corner at center center, #00EAFF 0%, #4D3589 41%, #BADAFF 52%, #0025CE 86%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.textcolor1{
  background: #FFCF26;
background: linear-gradient(to right, #FFCF26 10%, #3929F1 27%, #EB22CB 86%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.textcolor2{
  background: #FF3800;
background: linear-gradient(90deg, #451307 0%, rgb(11, 13, 14) 46%, #0f0f0f 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.active {
  opacity: 1;
}

.button1 {
  color: black;
  background-color: white;
  font-weight: bolder;
}

.button1:hover {
  color: #ffffff;
  background-color: #0f0f0f;
  font-weight: bold;
}

.fancy-carousel-wrapper-element {
  background-color: transparent;
}

.fancy-carousel-border {
  background-color: transparent;
  z-index: 5;
}

.fancy-carousel {
  position: relative;
  border-radius: 50%;
  transition: 0.5s;
  transform-origin: center center;
  background-color: transparent;
}

.fancy-carousel-navigators {
  z-index: 1;
  display: flex;
  bottom: 0;
  left: 0;
  background: transparent;
}


.fancy-carousel-element {
  position: absolute;
  background-color: #ff773d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  bottom: 0;
  transition: 0.5s;
  
  border-radius: 2px;
}

.fancy-carousel-image, .fancy-carousel-central-image, .fancy-carousel-element {
  border-radius: 50%;
}

.invisible {
  display: none;
}

.usecasebg {
  background-image: url('../assests/Images/newbggif.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right , left center;
  height: 100vh; 
}


